body {
    background-color: #F8F8F9;
}

.container {
    margin: auto;
    width: 40%;
    padding: 3%;
}

.logo {
    background-color: black;
    color: #ffffff;
    padding: 20px;
    width: 10%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

.first-head {
    font-size: 200%;
    text-align: center;
    padding-top: 2%;
    font-weight: 100%;
}

.second-head {
    text-align: center;
    padding: 1%;
    font-size: 150%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 0%;
}

.second-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-div {
    margin: auto;
    width: 50%;
    padding-right: 3%;
}

.second-div {
    width: 50%;
}

.label {
    padding-bottom: 1%;
    padding-top: 4%;
}

input {
    width: 96%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    display: flex;
}

.name-input {
    width: 95%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 3%;
}

button {
    color: white;
    background-color: #11939a;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: left;
    font-weight: bold;
    font-size: 100%;
    border-style: none;
    width: 100%;
}

.promo {
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 5%;
    text-align: left;
}

a {
    color: #11939a;
    text-decoration: none;
}

.footer-text {
    font-size: 80%;
    padding-top: 3%;
}

.contact {
    display: flex;
}

@media screen and (min-width: 800px) {
    /* desktop styling */
    .logo {
        background-color: black;
        color: #ffffff;
        padding: 30px;
        width: 10%;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}